*{
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
}

#navbar{
	height: 40px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	text-align: center;
	font-family: monospace;
	position: fixed;

}
#navbar h3{
	position: relative;
	top: 10px;
}
#wrapper{
	position: relative;
	height: 100%;
}
#logo{
	height: 100px;
	width: 100px;
	position: relative;
	
	left: 50%;
	top: 20px;
	margin-left: -50px;
}
#login-cont{
	text-align: center;
	position: relative;
	top: 40px;
	height: auto;
}
#input{
	margin-bottom: 10px;
	border:1px solid green;
	height: 40px;
	width: 240px;
	max-width: 240px;
	background-color: transparent;
	
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	outline: none;

}
#good-button{
	margin-bottom: 10px;
	height: 40px;
	width: 240px;
	max-width: 240px;
	border:transparent;
	background-color: green;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	color: white;
	
}
#header{
	height: 150px;
	text-align: center;
	font-family: monospace;
	background:black;
	color: white;
}
#hello{
	height: 40px;
	
}
.block{
	margin-top: 20px;
	color: white;
	font-family: monospace;
	height: 150px;
	background-color: lightgreen;
	width: 90%;
	position: relative;
	left: 5%;
	margin-bottom: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#engine{
	background-color: #CB3413 ;
}
.name{
	padding-left: 20px;
	padding-top: 20px;
	height: auto;
}
.submit{
	width: 90%;
	position: relative;
	height: 35px;
	border: transparent;
	background-color: #002D47;
	outline: none;
	color: white;
	font-family: monospace;
	font-size: 14px;
	margin-left: -20px;
	left: 5%;
	display: none;
	
}
.submit:hover{
	background-color: black;
}
#door{
	background-color: #A5830E;
}
#battery{
	background-color: #0E9CA5 ;
}
#headlight{
	background-color: #0E81A5 ;
}
#windows{
	background-color: #1A6F07 ;
}
#alarm{
	background-color: #2752F1;
}
#pressure{
	background-color: #005152 ;
}